<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
      xmlns:android="http://schemas.android.com/apk/res/android" 
      id="cordova-plugin-biometric-authentication" version="2.0.3">
   
   
   <name>Biometric Authentication</name>
   <js-module name="BiometricAuthentication" src="www/BiometricAuthentication.js">
      <clobbers target="biometricauthentication" />
   </js-module>

   <engines>
      <engine name="cordova" version=">=6.4.0" />
      <engine name="cordova-ios" version=">=4.3.0" />
      <engine name="cordova-android" version=">=5.1.0" />
      <engine name="apple-xcode" version=">=8.0.0" />
      <engine name="apple-ios" version=">=7.0.0" />
    </engines>

   <!-- iOS platform  conifigurations -->
   <platform name="ios">
      <!-- iOS platform  conifiguration files -->
      <config-file parent="/*" target="config.xml">
         <feature name="BiometricAuthentication">
            <param name="ios-package" value="BiometricAuthentication" />
         </feature>
      </config-file>

      <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
         <string>App uses camera.</string>
       </config-file>

       <!-- <hook type="before_plugin_install" src="src/scripts/prepareCocoaPods.js" /> -->

      <!-- iOS platform source and resource files -->
      <source-file src="src/ios/src/BiometricAuthentication.swift"/>
      <source-file src="src/ios/src/UIColor+Hex.swift"/>
      <!-- OZLivenessSDK source files -->
      <source-file src="src/ios/OZLivenessSDK/OZFileVideoManager.swift" />
      <source-file src="src/ios/OZLivenessSDK/OZFrameView.swift" />
      <source-file src="src/ios/OZLivenessSDK/OZFrameViewController.swift" />
      <source-file src="src/ios/OZLivenessSDK/OZJournal.swift" />
      <source-file src="src/ios/OZLivenessSDK/OZLivenessViewController.swift" />
      <source-file src="src/ios/OZLivenessSDK/OZTestLivenessViewController.swift" />
      <source-file src="src/ios/OZLivenessSDK/OZRequestManager.swift" />
      <source-file src="src/ios/OZLivenessSDK/OZResources.swift" />
      <source-file src="src/ios/OZLivenessSDK/OZSDK-API.swift" />
      <source-file src="src/ios/OZLivenessSDK/OZSDK.swift" />
      <source-file src="src/ios/OZLivenessSDK/OZUI.swift" /> 
      
      <!-- iOS platform OZLivenessSDK resource files -->
      <resource-file src="src/ios/OZLivenessSDK/OZLocalizationBundle.bundle"  />
      <resource-file src="src/ios/OZLivenessSDK/OZResourceBundle.bundle" />
      <!-- iOS platform frameworks -->
      
      <podspec>
         <config>
           <source url="https://github.com/CocoaPods/Specs.git"/>
           <!-- <source url="https://gitlab+deploy-token-85863:aodj2TBktij3RpmYxSW5@gitlab.com/oz-forensics/liveness_sdk.git"/> -->
         </config>
         <pods use-frameworks="true" inhibit-all-warnings="true" >
           <!-- <pod name="OZLivenessSDK" git="https://gitlab+deploy-token-85863:aodj2TBktij3RpmYxSW5@gitlab.com/oz-forensics/liveness_sdk.git" branch="develop" configurations="Debug,Release"/> -->
           <pod name="SVProgressHUD" />
           <pod name="Alamofire" />
           <pod name="DeviceKit"/>
           <pod name="Firebase/Core"/>
           <pod name="Firebase/MLVision" />
           <pod name="Firebase/MLVisionFaceModel"/>
         </pods>
       </podspec> 
   </platform>

   <!-- Android platform  conifigurations -->
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="BiometricAuthentication">
            <param name="android-package" value="cordova-plugin-biometric-authentication.BiometricAuthentication" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/BiometricAuthentication.java" target-dir="src/cordova-plugin-biometric-authentication/BiometricAuthentication" />
   </platform>

</plugin>