<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
      xmlns:android="http://schemas.android.com/apk/res/android" 
      id="cordova-plugin-biometric-authentication" version="2.0.8">
   
   
   <name>Biometric Authentication</name>
   <js-module name="BiometricAuthentication" src="www/BiometricAuthentication.js">
      <clobbers target="biometricauthentication" />
   </js-module>

   <engines>
      <engine name="cordova" version=">=6.4.0" />
      <engine name="cordova-ios" version=">=4.3.0" />
      <engine name="cordova-android" version=">=5.1.0" />
      <engine name="apple-xcode" version=">=8.0.0" />
      <engine name="apple-ios" version=">=7.0.0" />
    </engines>

   <!-- iOS platform  conifigurations -->
   <platform name="ios">
      <!-- iOS platform  conifiguration files -->
      <config-file parent="/*" target="config.xml">
         <feature name="BiometricAuthentication">
            <param name="ios-package" value="BiometricAuthentication" />
         </feature>
      </config-file>

      <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
         <string>App uses camera.</string>
       </config-file>

       <!-- <hook type="before_plugin_install" src="src/scripts/prepareCocoaPods.js" /> -->

      <!-- iOS platform source and resource files -->
      <source-file src="src/ios/src/BiometricAuthentication.swift"/>
      <!-- iOS platform frameworks -->
      <podspec>
         <config>
           <source url="https://github.com/CocoaPods/Specs.git"/>
           <source url="https://gitlab.com/oz-forensics/oz-liveness-ios.git"/>
         </config>
         <pods use-frameworks="true" inhibit-all-warnings="true" >
           <pod name="OZLivenessSDK" git="https://gitlab.com/oz-forensics/oz-liveness-ios.git" branch="develop" configurations="Debug,Release"/>
         </pods>
       </podspec> 
   </platform>

   <!-- Android platform  conifigurations -->
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="BiometricAuthentication">
            <param name="android-package" value="cordova-plugin-biometric-authentication.BiometricAuthentication" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/BiometricAuthentication.java" target-dir="src/cordova-plugin-biometric-authentication/BiometricAuthentication" />
   </platform>

</plugin>